
<div>
    <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
    <nav class="navbar" style="background: #2f3663;height:50px;">
          <span style="color: white">
            Micor vidéo et recherche
        </span>
    </nav>
    <div class="jumbotron" style="margin-bottom: 0px!important;background: white;">
          <div class="col-sm-8 mx-auto">
                <span class="login100-form-logo">
                    <img [src]="LOGO_PATH" style="width: 70px;">
                </span>
          </div>
    </div>

    <div class="container" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin: auto">
        <nav class="navbar navbar-expand-lg navbar-light" style="background: #2f3663">
            <form class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                <input style="background: white;" (keyup.enter)="search();" [(ngModel)]="keyWords" type="text" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 textbox" name="Search" placeholder="keywords one,keywords two">
                <input (click)="search();" title="Search" value="" type="button" class="button">
            </form>
        </nav>
    </div>
</div>
<br>

<div class="container">
  <div  class="card col col-lg-6" *ngFor="let item of listeMedia | paginate: { itemsPerPage: 6, currentPage: numberPage}  ;let i = index" style="display: inline-block;">
      <video id="videoPlayer" #videoPlayer (click)="setCurrentTime($event)" style="padding-top: 25px;" controls class="col-lg-12">
          <source   src="{{item.url}}#t={{item.firstKeyWords}}" type="video/mp4" />
      </video>
      
      <div class="col-lg-12" style="height:50px!important;overflow: auto;">
            <button [style.color]="it.color" (click)="step(it.time);videoPlayer.click();" type="button"  *ngFor="let it of item.keyWords" class="fa fa-play-circle-o taskTime">
                {{it.timeConverted}}
            </button>
      </div>
      
    <div class="col-lg-12" style="height:200px;overflow: auto;">
      <p class="content-video">
        <span class="fa fa-check" style="font-size: 12px!important;">{{item.title}}</span>
        <br>
        <span class="fa fa-calendar-times-o" style="font-size: 12px;float: right;">{{item.date | date : 'dd/MM/yyyy'}}</span>
        <br>
        {{item.content}}
      </p>
    </div>
  </div>
  <div *ngIf="listeMedia?.length > 0" class="bloc-pagination">
      <pagination-controls previousLabel="Précédent" class="ngx-pagination"
                           nextLabel="Suivant"  (pageChange)="numberPage = $event">
      </pagination-controls>
  </div>
</div>